---
title: Home
---

<div class="image-text-block">
    <div class="img">
        <img src="https://images.pexels.com/photos/62321/kitten-cat-fluffy-cat-cute-62321.jpeg">
    </div>
    <div class="text">
        <h1>Cute kočka</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Proin mattis lacinia justo. Etiam egestas wisi a erat. Etiam posuere lacus quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Fusce consectetuer risus a nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce suscipit libero eget elit.</p>
    </div>
</div>

<div class="image-text-block">
    <div class="img">
        <img src="https://images.pexels.com/photos/62321/kitten-cat-fluffy-cat-cute-62321.jpeg">
    </div>
    <div class="text">
        <h1>Cute kočka</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Proin mattis lacinia justo. Etiam egestas wisi a erat. Etiam posuere lacus quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Fusce consectetuer risus a nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce suscipit libero eget elit.</p>
    </div>
</div>

<div class="text-block text">
    <h1>Cute kočka</h1>
    <h2>Cute kočka</h2>
    <p>Lorem ipsum <a href="#" class="link">dolor</a> sit amet, <span class="b">consectetuer</span> adipiscing elit. <span class="i">Aliquam</span> in lorem sit amet leo accumsan lacinia. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Proin mattis lacinia justo. Etiam egestas wisi a erat. Etiam posuere lacus quis dolor.</p>
    <p class="q">Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.<br>Proin mattis lacinia justo.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.</p>
    <ul class="list">
        <li>Lorem
            <ul class="list">
                <li>Lorem</li>
                <li>ipsum</li>
            </ul>
        </li>
        <li>ipsum</li>
        <li>sit
            <ol class="list">
                <li>Lorem</li>
                <li>ipsum</li>
            </ol>
        </li>
        <li>amet</li>
    </ul>
    <ul class="list">
        <li>Lorem
            <ul class="list">
                <li>Lorem</li>
                <li>ipsum</li>
                <li>sit
                    <ul class="list">
                        <li>Lorem</li>
                        <li>ipsum
                            <ul class="list">
                                <li>Lorem</li>
                                <li>ipsum</li>
                            </ul>
                        </li>
                        <li>sit</li>
                    </ul>
                </li>
                <li>amet</li>
            </ul>
        </li>
        <li>ipsum</li>
        <li>sit</li>
        <li>amet</li>
    </ul>
    <p>Fusce consectetuer risus a nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Fusce suscipit libero eget elit.</p>
    <ol class="list">
        <li>Lorem
            <ul class="list">
                <li>Lorem</li>
                <li>ipsum</li>
            </ul>
        </li>
        <li>ipsum</li>
        <li>sit
            <ol class="list">
                <li>Lorem</li>
                <li>ipsum</li>
            </ol>
        </li>
        <li>amet</li>
    </ol>
    <p>Lorem ipsum dolor sit amet, consectetuer <span class="code">adipiscing</span> elit. Aliquam in lorem sit amet leo accumsan lacinia.</p>
    <pre class="code-block">Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci.
Proin mattis lacinia justo.
Etiam egestas wisi a erat. Etiam posuere lacus quis dolor.</pre>
    <table>
        <caption>Contact Information</caption>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone#</th>
            <th scope="col">Fax#</th>
            <th scope="col">City</th>
        </tr>
        <tr>
            <!-- <th scope="row">Joel Garner</th> -->
            <td>Joel Garner</td>
            <td>412-212-5421</td>
            <td>412-212-5400</td>
            <td>Pittsburgh</td>
        </tr>
        <tr>
            <!-- <th scope="row">Clive Lloyd</th> -->
            <td>Clive Lloyd</td>
            <td>410-306-1420</td>
            <td>410-306-5400</td>
            <td>Baltimore</td>
        </tr>
        <tr>
            <!-- <th scope="row">Gordon Greenidge</th> -->
            <td>Gordon Greenidge</td>
            <td>281-564-6720</td>
            <td>281-511-6600</td>
            <td>Houston</td>
        </tr>
    </table>
</div>

<!-- <div class="text-block center">
    <div class="header">Centrum pro mládež, dospělé a seniory.</div>
    <p>Vítejte na stránkách organizace VIGVAM, z.ú.</p>
    <p>Najdete zde přehled kurzů a jednorázových akcí pro teenagery, dospělé a seniory.</p>
    <p>Těšíme se na Vás!</p>
</div>

<div class="text-block">
    <p class="b">Zápisy do kurzů pro školní rok 2018-19 <a href="https://vigvam.webooker.eu/">ZDE</a></p>
    <p>Seznam posledních lekcí II.pololetí 2017-18 <a href="https://drive.google.com/open?id=1MlAoFnHSPlF5M1Ekkzqz2HdDawOn3uFI">ZDE</a>.</p>
    <p>Rozvrh na I. pol. školního roku 2018/19 <a href="https://drive.google.com/open?id=1Er3Tdwqeecc3yiof1JxCLzYg9VQXLd6N">ZDE</a>. </p>
</div>

<div class="text-block">
    <p>Místa konání kurzů a akcí (uvedeno na letáku nebo v rozvrhu):</p>
    <p>- Centrum Břežánek, ul. U Náměstí 712, Dolní Břežany</p>
    <p>- Kulturní a informační centrum, ul. Na Panský 11, Dolní Břežany.</p>
    <p>Na jednotlivé akce je potřeba se přihlásit pomocí rezervačního systému <a href="https://vigvam.webooker.eu/Actions">ZDE</a>.</p>
    <p>Platby za akce/ kurzy - číslo účtu - 7673737033 / 5500</p>
</div> -->