html, body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    overflow-x: hidden;
}

.center {
    text-align: center;
}
.text b, .b {
    font-weight: bold;
}
.text i, .i {
    font-style: italic;
}

.lastmod {
    font-style: italic;
    font-size: 0.7rem;
    color: #555;
}

.text {
    line-height: 1.5em;
}
.text p {
    color: #000;
    line-height: 1.5em;
    margin-bottom: 1rem;
}
.text a {
    text-decoration: none;
    color: #43c552;
}
.text a:hover {
    text-decoration: underline;
    color: #32943e;
}
.text a:visited {
    color: #32943e;
}
.text h1 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #555;
    margin-bottom: 1rem;
}
/* .text h1 {
    font-size: 3rem;
    font-weight: 100;
    color: #555;
    margin-bottom: 1rem;
} */
.text h2 {
    font-size: 1.5rem;
    color: #555;
    font-weight: bold;
    margin-bottom: .5rem;
}
/* h3 ... ? */
.text quote, .text .q {
    margin: 1rem 0 1rem .5rem;
    border-left: #BBB .2rem solid;
    padding-left: .5rem;
}
.text ul, .text ol, .text .list {
    margin-bottom: 1rem;
}
.text ul > li {
    margin-left: 1.5rem;
    margin-bottom: .3rem;
    list-style-type: disc;
}
.text ol > li {
    margin-left: 1.3rem;
    padding-left: .2rem;
    margin-bottom: .3rem;
    list-style-type: decimal;
}
.text ol > li > ol,
.text ol > li > ul,
.text ul > li > ol,
.text ul > li > ul {
    margin-bottom: .3rem;
}
.text ol + ol,
.text ol + ul,
.text ul + ol,
.text ul + ul {
    margin-top: 2rem;
}
.text code, .text samp, .text kbd, .text var, .text .code {
    background-color: #DDD;
    border-radius: .3em;
    font-family: monospace;
    padding: .2em;
    margin-bottom: -.2em;
}
.text pre, .text .code-block {
    background-color: #DDD;
    font-family: monospace;
    padding: 1em;
    margin-bottom: 1rem;
    overflow-x: auto;
    border-radius: .5rem;
}
.text table {
    margin-bottom: 1rem;
}
.text table caption {
    font-style: italic;
}
.text table tr:first-child th:first-child,
.text table tr:first-child td:first-child  {
    border-radius: .6rem 0 0 0;
}
.text table tr:first-child th:last-child,
.text table tr:first-child td:last-child  {
    border-radius: 0 .6rem 0 0;
}
.text table tr:last-child th:first-child,
.text table tr:last-child td:first-child  {
    border-radius: 0 0 0 .6rem;
}
.text table tr:last-child th:last-child,
.text table tr:last-child td:last-child  {
    border-radius: 0 0 .6rem 0;
}
.text table tr:nth-child(2n+1) {
    background-color: #EEE;
}
.text table tr:nth-child(2n) {
    background-color: #DDD;
}
.text table td, .text table th {
    padding: .8rem 1rem;
    text-align: left;
}
.text table tr th {
    background-color: #43c552;
    color: white;
}
.text img {
    max-width: 100%;
}

#nav-toggle {
    font-size: 1rem;
    height: 1em;
    padding: calc((3rem - 1em) / 2);
    text-align: center;
}
#nav-toggle .text {
    font-size: 1em;
    font-weight: bold;
}
#nav-toggle .icon {
    width: 1em;
    font-size: 1em;
    position: absolute;
    top: calc((3rem - 1em) / 2);
    left: 1em;
}
nav {
    display: none;
    background-color: white;
    user-select: none;
}
nav.open {
    display: block;
}
nav a {
    text-decoration: none;
    color: #555;
}
nav a:hover {
    color: #000;
}
nav li {
    padding: .7rem 1rem;
    background-color: white;
    border-top: 1px solid #DDD;
    cursor: pointer;
}
nav li.button {
    text-align: center;
}
nav li.button > a {
    background-color: white;
    border: 2px solid #43c552;
    font-size: 1.2rem;
    line-height: 1rem;
    padding: 1rem 1rem;
    color: #43c552;
    font-weight: bold;
    border-radius: .5rem;
    transition: background-color .2s;
    cursor: pointer;
    display: inline-block;
}
nav li.button > a:hover {
    background-color: #e3f6e5;
}
nav li.button {
    cursor: auto;
}
nav li:last-child {
    border-bottom: 1px solid #DDD;
}
nav ul li.dropdown.open {
    background-color: #EEE;
}
nav ul li.dropdown > ul {
    margin: .5rem 0 0 -1rem;
    width: calc(100% + 2rem);
}
nav ul li.dropdown > ul > li {
    border: none;
    background-color: transparent;
    margin-left: 1rem;
    font-size: .9rem;
}
nav .logo {
    display: none;
}

.banner {
    width: 100vw;
    background-color: #333;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bg.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .text {
    font-size: 4rem;
    color: white;
    padding: 8rem 1rem;
    font-weight: 100;
    user-select: none;
    text-align: center;
}

.image-text-block {
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 38rem;
}
.image-text-block .text {
    order: 0;
    margin: 1rem 0;
}
.image-text-block .text img {
    display: none;
}
.image-text-block .img {
    order: -1;
    max-height: 60vh;
    min-height: 8rem;
    overflow: hidden;
    border-radius: .8rem;
}
.image-text-block .img img {
    max-width: 100%;
    border-radius: .8rem;
}

.text-block {
    padding: 1rem 2rem;
    margin: 0 auto;
}
.text-block * {
    max-width: 38rem;
    margin: 0 auto;
    line-height: 1.2em;
}
/* .text-block * + * {
    margin: .7rem auto;
} */
.text-block + .text-block::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #DDD;
    margin-bottom: 2rem;
}
/* .text-block .header {
    font-size: 2rem;
} */
/* .text-block a {
    color: #43c552;
}
.text-block a:hover {
    color: #32943e;
} */

footer::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #DDD;
    margin-bottom: 2rem;
}
footer {
    background-color: #ddd;
    padding-bottom: 1rem;
}
footer > .text-block {
    padding-top: 0;
}
footer #partners {
    background-color: white;
    max-width: 28rem;
    border-radius: .5rem;
    margin: 1rem 0 0 0;
}
footer #partners p {
    padding-top: 1rem;
    padding-bottom: .5rem;
    flex-basis: 100%;
    border-bottom: .1rem solid #DDD;
}
footer #partners .flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 .5rem;
}
footer #partners .item img {
    width: 100%;
}
footer #partners #brezanek {
    order: 1;
    flex-grow: 2;
}
footer #partners #db {
    order: 2;
    flex-grow: 1;
}
footer #partners #ric {
    order: 3;
    flex-grow: 2;
}
.social {
    word-spacing: .5em;
}
.social i {
    color: #43c552;
}
.social i:hover {
    color: #32943e;
}

@media (min-width:600px) {
    footer .text-block {
        display: flex;
        justify-content: center;
        max-width: 100vw;
    }
    footer .text-block .left {
        order: 1;
        margin: 0 0 0 auto;
    }
    footer .text-block .right {
        order: 2;
        margin: 0 auto 0 1rem;
    }
    footer .group .item {
        padding: 1rem
    }
    footer #partners {
        margin: 0 auto;
    }
}
@media (min-width:900px) {
    #nav-toggle {
        display: none;
    }
    nav {
        display: block;
    }
    nav ul {
        float: right;
    }
    nav > ul > li {
        border-top: none;
        padding: 2rem 1rem;
        line-height: 1rem;
        font-size: 1.1rem;
    }
    nav > ul > li:last-child {
        border-bottom: none;
    }
    nav li.button > a {
        margin: calc(-1rem - 4px) 0;
    }
    nav ul li.dropdown > ul {
        width: auto;
        z-index: 90;
        display: none;
        overflow: hidden;
        background-color: white;
        margin-top: 2rem;
        max-width: 15rem;
    }
    nav > ul > li:not(.button):hover {
        box-shadow: inset .15rem 0 0 #43c552;
    }
    nav ul li.dropdown:hover > ul {
        z-index: 100;
        display: block;
        /* border-left: .1rem solid #43c552; */
    }
    nav ul li.dropdown.open > ul {
        position: absolute;
        display: none;
    }
    nav ul li.dropdown.open:hover > ul {
        display: block;
    }
    nav ul li.dropdown.open {
        background-color: white;
    }
    nav ul li.dropdown > ul > li {
        margin: 0;
        font-size: 1rem;
        box-shadow: inset .15rem 0 0 #43c552;
        transition: box-shadow .2s;
    }
    nav ul li.dropdown > ul > li:hover {
        box-shadow: inset .5rem 0 0 #43c552;
    }
    nav .logo {
        display: block;
        float: left;
        overflow: hidden;
        height: 5rem;
    }
    nav .logo img {
        height: 6.5rem;
        margin-left: 1rem;
        position: relative;
        top: -.25rem;
    }
    nav li a.button {
        margin: -1rem 0;
    }

    .image-text-block {
        flex-wrap: nowrap;
        max-width: 65rem;
    }
    .image-text-block .text {
        margin: 0 0 0 2rem;
        flex-basis: 50%;
    }
    .image-text-block:nth-of-type(2n) .text {
        margin: 0 2rem 0 0;
    }
    .image-text-block .img {
        flex-basis: 50%;
        max-height: 100%;
    }
    .image-text-block:nth-of-type(2n) .img {
        order: 1;
    }
    .image-text-block .img img {
        max-width: 100%;
    }
}
@media (min-width:1200px) {
    
}
@media (min-width:1800px) {
    
}
