<footer>
    <div class="text-block">
        <div class="left">
            <p>Vigvam z.ú.<br>
            5. Května 78,<br>252 41 Dolní Břežany</p>
            <div class="social">
                <a href="mailto:vigvamdb@gmail.com"><i class="fas fa-envelope"></i></a> 
                <a href="https://www.youtube.com/channel/UCZa_TjdAIfeCyw8Unr1axPQ"><i class="fab fa-youtube"></i></a> 
                <a href="http://www.facebook.com/1272465326148161"><i class="fab fa-facebook"></i></a> 
            </div>
        </div>
        <div class="right center">
            <div id="partners">
                <p>Naši partneři:</p>
                <div class="flexbox">
                    <div class="item w" id="brezanek"><img src="/images/brezanek_750x372.png" alt="Centrum Břežánek"></div>
                    <div class="item h" id="db"><img src="/images/DB.jpg" alt=""><br><!-- <span class="text">obec Dolní Břežany</span> --></div>
                    <div class="item w" id="ric"><img src="/images/ric.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
