<div id="nav-toggle">
    <i class="fas fa-bars icon"></i>
    <a class="text">VIGVAM-DB.CZ</a>
</div>
<nav role="navigation" id="nav">
    <div class="logo">
        <a href="/"><img src="/images/vigvam-logo.png" alt="" srcset=""></a>
    </div>
    <ul>
        <li>
            <a href="/">AKTUALITY</a>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true" class="b">TEEN</a>
            <ul aria-label="submenu">
                <li><a href="/teen/predstaveni-cinnosti">PŘEDSTAVENÍ ČINNOSTI</a></li>
                <li><a href="/teen/kurzy-a-akce">KURZY A AKCE</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true" class="b">DOSPĚLÍ</a>
            <ul aria-label="submenu">
                <li><a href="/dospeli/predstaveni-cinnosti">PŘEDSTAVENÍ ČINNOSTI</a></li>
                <li><a href="/dospeli/kurzy-a-akce">KURZY A AKCE</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true" class="b">SENIOŘI</a>
            <ul aria-label="submenu">
                <li><a href="/seniori/predstaveni-cinnosti">PŘEDSTAVENÍ ČINNOSTI</a></li>
                <li><a href="/seniori/kurzy-a-akce">KURZY A AKCE</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" aria-haspopup="true">O NÁS</a>
            <ul aria-label="submenu">
                <li><a href="/o-nas/kdo-jsme">KDO JSME</a></li>
                <li><a target="_blank" href="https://www.zonerama.com/vigvam/537673">FOTOGALERIE</a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCZa_TjdAIfeCyw8Unr1axPQ">VIDEA</a></li>
                <li><a href="/o-nas/dokumenty">DOKUMENTY</a></li>
                <li><a href="/o-nas/zasady-ou">ZÁSADY ZPRACOVÁNÍ OU</a></li>
                <li><a href="/o-nas/kontakty">KONTAKTY</a></li>
            </ul>
        </li>
        <li class="button">
            <a target="_blank" href="https://vigvam.webooker.eu/">Rezervační systém</a>
        </li>
    </ul>
</nav>

<div class="banner">
    <div class="text">Tam, kde chcete být</div>
</div>